.app {
  height: 6em;
  width: 6em;
  position: absolute;
  text-align: center;
  //background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  //cursor: move;
  cursor: pointer;
  z-index: 6;
}

#cv-app {
  background-image: url("word.svg") !important;
}

#terminal-app {
  background-image: url("terminal.svg") !important;
}

#settings-app {
  background-image: url("settings.svg") !important;
}
