.app {
  height: 6em;
  width: 6em;
  margin-block: 2em;
  margin-inline: 1em;
  text-align: center;
  //background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  transition: transform 0.1s ease-in-out;
}

.app:hover {
  transform: scale(1.2);
}

.app-label {
  margin: auto;
  color: white;
  font-family: 'Lucida Console', Monaco, monospace;
  padding-top: 6em;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 600px) {
  .app {
    height: 4em;
    width: 4em;
    margin-block: 1.5em;
    margin-inline: 0.5em;
  }

  .app-label {
    padding-top: 4em;
  }
}
