$spawn-height: 80;
$spawn-width: 100;

#background {
  height: 200vh !important;
  //background: radial-gradient(ellipse at bottom, #1b1f26 0%, #000000 100%);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  //overflow: auto !important;
  padding: 0;
  margin: 0;
  animation: background auto linear;
  animation-timeline: scroll();
}

#brackets {
  color: red;
  position: absolute;
  top: random($spawn-height) + vh;
  left: random($spawn-width) + vw;
  width: 512px;
  height: 512px;
  background-image: url("brackets_white.png");
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: brackets 12s ease-in forwards infinite;
  overflow: hidden;

  &:nth-child(1) {
    animation-delay: 2s;
    top: random($spawn-height) + vh;
    left: random($spawn-width) + vw;
  }

  &:nth-child(2) {
    animation-delay: 4s;
    top: random($spawn-height) + vh;
    left: random($spawn-width) + vw;
  }

  &:nth-child(3) {
    animation-delay: 6s;
    top: random($spawn-height) + vh;
    left: random($spawn-width) + vw;
  }

  &:nth-child(4) {
    animation-delay: 8s;
    top: random($spawn-height) + vh;
    left: random($spawn-width) + vw;
  }

  &:nth-child(5) {
    animation-delay: 10s;
    top: random($spawn-height) + vh;
    left: random($spawn-width) + vw;
  }
}

@keyframes brackets {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 0.1;
  }
  to {
    transform: scale(1) rotate(180deg) translate(-50%, -50%);
    opacity: 0;
  }
}

svg {
  font-family: 'Lucida Console', Monaco, monospace;
}

svg text {
  text-transform: uppercase;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
}

#flyers {
  color: red;
  position: absolute;
  top: 20vh;
  left: 20vw;
  transform-origin: center center;
  transform: scale(2) rotate(180deg);
  animation: icon 12s ease-in forwards infinite;
  overflow: hidden;

  &:nth-child(1) {
    animation-delay: 2s;
    top: random($spawn-height) + vh;
    left: random($spawn-width) + vw;
  }
}

@keyframes flyers {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 0.1;
  }
  to {
    transform: scale(1) rotate(180deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes background {
  from {
    background-color: $background-accent;
  }
  to {
    background-color: #000000;
  }
}
