// Light mode colours
$background-colour: #f5f5f5;
$background-accent: #eee8f1;
$primary: #ff3289;
$secondary: #8bd9c7;
$tertiary: #aae7d7;

// Dark mode colours
$background-colour-dark: #1f1f1f;
$background-accent-dark: #262626;
$primary-dark: #34bea5;
$secondary-dark: #424242;
$tertiary-dark: #707070;

// Other colours
$white: #fff;
$black: #000;
$whitesmoke: #f5f5f5ff;
$blacksmoke: #1f1f1fff;
$error: #ff3535;
$error-light: #ff6666;
$warning: #ff9f35;
$warning-light: #ffcc84;
$success: #5cc54c;
$success-light: #8ce08c;

$black-transparent: rgba(0, 0, 0, 0.8);