@import "colours";
@import "background";
@import "taskbar";
@import "terminal";

#v-app-bar {
  color: $white;
  background-color: $background-colour-dark;

  .v-app-bar-title {
    font-size: 1em;
    font-family: 'Lucida Console', Monaco, monospace;
    padding: 0;
    margin: 0;
  }

  .v-btn {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 600px) {

}
