#settings {
  width: 40em;
  z-index: 7;

  #settings-navbar {

  }

  #settings-body {

    .v-btn {
      background: $whitesmoke;
      margin-inline: 4px;
      padding: 2px 4px;
    }

    .icon-select {
      padding-inline: 2em;
      background: rgba(255, 255, 255, 0.1);
      display: flex;
    }

    .icon {
      width: 2em;
      margin: 0.5em;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 600px) {

}
